In [1]:
import numpy as np 
import pandas as pd 
import statsmodels.api as sm

In [3]:
df = sm.datasets.fair.load_pandas().data

In [5]:
df

,rate_marriage,age,yrs_married,children,religious,educ,occupation,occupation_husb,affairs
0,3.0,32.0,9.0,3.0,3.0,17.0,2.0,5.0,0.111111
1,3.0,27.0,13.0,3.0,1.0,14.0,3.0,4.0,3.230769
2,4.0,22.0,2.5,0.0,1.0,16.0,3.0,5.0,1.400000
3,4.0,37.0,16.5,4.0,3.0,16.0,5.0,5.0,0.727273
4,5.0,27.0,9.0,1.0,1.0,14.0,3.0,4.0,4.666666
...,...,...,...,...,...,...,...,...,...
6361,5.0,32.0,13.0,2.0,3.0,17.0,4.0,3.0,0.000000
6362,4.0,32.0,13.0,1.0,1.0,16.0,5.0,5.0,0.000000
6363,5.0,22.0,2.5,0.0,2.0,14.0,3.0,1.0,0.000000
6364,5.0,32.0,6.0,1.0,3.0,14.0,3.0,4.0,0.000000
6365,4.0,22.0,2.5,0.0,2.0,16.0,2.0,4.0,0.000000

In [37]:
# Create column names for the new DataFrames
occ_dummies.columns = ['occ1','occ2','occ3', 'occ4', 'occ5', 'occ6']
hus_dummies.columns = ['hocc1','hocc2','hocc3', 'hocc4', 'hocc5', 'hocc6']

In [94]:
# Set X as new DataFrame without the occupation columns or the Y target

In [92]:
# Concat the dummy DataFrames Together

In [45]:
# Now Concat the X DataFrame with the dummy variables

In [90]:
# Set Y as Target class, Had Affair

In [6]:
# Dropping one column of each dummy variable set to avoid multicollinearity


# Drop affairs column so Y target makes sense

In [96]:
# This adds a column of 1's to the dataframe. 
# The model will not run without, but if 
# it could every model would try to pass through the origin

In [99]:
#result of preliminary run

In [83]:
TPR=(float(TP) / (TP + FN))
TPN=(float(TN) / (TN + FP)) 
PPV=(float(TP) / (TP + FP)) 
NPV=(float(TN) / (TN + FN)) 
FNR=(float(FN) / (FN + TP))
FPR=(float(FP) / (FP + TN))
FDR=(float(FP) / (FP + TP))
FOR=(float(FN) / (FN + TN))
TS=(float(TP) / (TP+FN + FP))
ACC=(float(TP+TN) / (TP+FP+FN + TN))  #print((TP + TN) / float(len(y_test)))

print (f"sensitivity, recall, hit rate, or true positive rate (TPR): {TPR:.3f} (# positives correctly identified)")
print (f"specificity, selectivity or true negative rate (TNR): {TPN:.3f}")
print (f"precision or positive predictive value (PPV): {PPV:.3f} (rate of correct positive predictions)")
print (f"negative predictive value (NPV): {NPV:.3f}")
print (f"miss rate or false negative rate (FNR): {FNR:.3f}")
print (f"fall-out or false positive rate (FPR): {FPR:.3f}")
print (f"false discovery rate (FDR): {FDR:.3f}")
print (f"false omission rate (FOR): {FOR:.3f}")
print("")
print (f"accuracy (ACC): {ACC:.3f} (really only useful if classes are equally represented)")

sensitivity, recall, hit rate, or true positive rate (TPR): 0.354 (# positives correctly identified)
specificity, selectivity or true negative rate (TNR): 0.900
precision or positive predictive value (PPV): 0.627 (rate of correct positive predictions)
negative predictive value (NPV): 0.745
miss rate or false negative rate (FNR): 0.646
fall-out or false positive rate (FPR): 0.100
false discovery rate (FDR): 0.373
false omission rate (FOR): 0.255

accuracy (ACC): 0.724 (really only useful if classes are equally represented)